.primary {
    color: #0c591d;
}

.bg-primary {
    background-color: #0c591d !important;
}

.ml-2 {
    margin-left: 10px;
}

.mt-2 {
    margin-top: 10px;
}

.mb-2 {
    margin-bottom: 10px;
}

.mr-2 {
    margin-right: 10px;
}

button:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
}

.boto-button {
    border-radius:5px;
    cursor: pointer;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -o-border-radius:5px;
    box-shadow:0 -3px rgba(0,0,0,.1) inset;
    -moz-box-shadow:0 -3px rgba(0,0,0,.1) inset;
    -webkit-box-shadow:0 -3px rgba(0,0,0,.1) inset;
    -o-box-shadow:0 -3px rgba(0,0,0,.1) inset;
    transition:opacity .3s linear;
    -moz-transition:opacity .3s linear;
    -webkit-transition:opacity .3s linear;
    -o-transition:opacity .3s linear;color:#fff!important;
    font-size:12px;
    letter-spacing:2px;
    padding:13px 18px;
    position:relative;
    text-transform:uppercase;
    top:-3px;margin-bottom:10px;
    opacity:.75;
    line-height:20px;
    display:inline-block;
    border: 0;
}
.boto-button.small{
    border-radius:2px;
    font-size:9px;
    padding:5px 8px;
    letter-spacing:1.3px;
    color:#fff!important;
    box-shadow:0 -1px rgba(0,0,0,.1) inset;
    -moz-box-shadow:0 -1px rgba(0,0,0,.1) inset;
    -webkit-box-shadow:0 -1px rgba(0,0,0,.1) inset;
    -o-box-shadow:0 -1px rgba(0,0,0,.1) inset
}
.boto-button.medium{
    border-radius:3px;
    padding:10px 15px;
    font-size:12px;
    letter-spacing:2px;
    color:#fff!important;
    box-shadow:0 -2px rgba(0,0,0,.1) inset;
    -moz-box-shadow:0 -2px rgba(0,0,0,.1) inset;
    -webkit-box-shadow:0 -2px rgba(0,0,0,.1) inset;
    -o-box-shadow:0 -2px rgba(0,0,0,.1) inset
}
.boto-button.large{
    font-size:13px;
    padding:15px 22px;
    box-shadow:0 -3px rgba(0,0,0,.1) inset;
    -moz-box-shadow:0 -3px rgba(0,0,0,.1) inset;
    -webkit-box-shadow:0 -3px rgba(0,0,0,.1) inset;
    -o-box-shadow:0 -3px rgba(0,0,0,.1) inset
}
.boto-button.muted{
    color:rgb(102, 102, 102)!important;
}
.primary-btn {
    background-color:#198c38;
}

.secondary-btn {
    background-color:#db852e;
}